@use "global.scss" as global;

.current-user {
    h2 {
        margin : 1rem 0;
    }
    display: flex;
    flex-direction: column;
    gap : 0.5rem;
    font-size : 1.2rem;
}

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap : 1rem;

        label {
            font-size: 1rem;
        }

        input{
            font-size: 1rem;
            padding: 0.9rem;
            border-radius: 5px;
            border : 1px solid global.$main-black;
        }
    }