@use "global.scss" as global;


h2 {
    margin : 1rem 0;
}
.main-button {
    margin-bottom: 1rem;
}
 .company-employees-list{
    display: flex;
    flex-direction: column;
 }
.employees-list {
    display: flex;
    flex-direction: column;
    gap : 1.5rem;
}

.employee {
    
    @include global.small-box;
    align-items: center;
}

.employee-name {
    font-weight: 600;
}

@media screen and (min-width : 480px){

}

@media screen and (min-width : 1024px) {
    .employees-list {
        flex-direction: row;

        .employee {
            flex-direction: column;
            width: 23%;

            button {
                width: 100%;
            }
        
        }
    }

}