@use "../scss/global.scss" as global;

.handle-sharing-requests-options{
    display: flex;
    flex-direction: column;
    gap : 1rem;
}

.sharing-requests{
    display: flex;
    flex-direction: column;
    gap : 1rem;
}

.sharing-request{
            @include global.small-box;


            img {
            @include global.thumbnail

        }

}