@use "global.scss" as global;

.connexion-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0  2rem;

    gap : 1rem;

    div {
        width: 100%;
        button {
            width: 100%;
        }
    }
    

}

.login, .create-account, .create-company-account{
    @include global.small-form;
    form {
        width: 100%;
        label, input {
            width: 100%;
        }
    }
}

.create-company-account{
    p {
white-space: break-spaces;    }
}

@media screen and (min-width : 480px){

.connexion-screen {
    div {
        max-width: 30rem;
    }
}
}