@use "global.scss" as global;


.handle-supplies-options{
    display: flex;
    flex-direction: column;
    gap : 1rem;
}
.user-supplies {
    display: flex;
    flex-direction: column;
    gap : 1rem;
}

.user-supply{
    @include global.small-box;
    flex-direction: column;

    div{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .user-supply-infos {
        img {
            @include global.thumbnail
        }
        display: flex;
        align-items: center;
        gap : 0.5rem;
        justify-content: flex-start;

    }
    
    .user-supply-handle-buttons{
        height: min-content;
        display: flex;
        gap : 1rem;
    }
}

.create-supply-form{
    @include global.small-form;
        form {
        width: 100%;
    }
    
    input {
        width: 100%;
    }

    button{
        width: 100%;
    }
    gap : 2rem;
}
.modify-supply-form{
    @include global.small-form;

    form {
        width: 100%;
    }
    
    input {
        width: 100%;
    }

    button{
        width: 100%;
    }
}

.borrowed-supplies {
        @include global.small-box;

    img {
            @include global.thumbnail

    }
}